<html>
   <body>   
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">


<h1>FACE EXPRESSION CLASSIFIER</h1>
   
    <form action = "{{url_for('upload_file')}}" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      

<a href="https://github.com/tanmaya48/flask_face_expression_classifier_aws">Code on Github</a> 

<h3>By Tanmaya Kumar Sahni</h3>     
      
   </body>
</html>
